body{
    background-image: url('fondo.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Outfit', sans-serif;
}
button{
    background-color: rgb(72, 72, 177) !important;
    border: none !important;
    font-size: 20px !important;
}
.primera-hoja{
    display: flex;
    flex-direction:row;
    padding-bottom: 50px;
    height: 100vh;
}
.segunda-hoja {
    height: 100vh;
    flex-direction: row;
    display: flex;
    align-items: center;  
    justify-content: center;  
}
.tercera-hoja {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.cuarta-hoja{
    height: 100vh;
}
.carousel {
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
.columna {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.menu{
    gap: 30px;
    background-color: rgb(200, 154, 236);
    width: auto;
    height: auto;
    max-height: fit-content;
    border-radius: 10px;
    margin-left: 450px;
    margin-top: 30px;
    border-color: black;
    padding-left: 20px;
    padding-right: 20px;
}
.foto{
    height: 300px;
    width: 300px;
    padding: 50px;
}
.card{
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    font-size: 50px;
    height: auto;
    width: auto;
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgb(200, 154, 236);
    padding-left: 20px;
    padding-right: 20px;
}
.presentacion{
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    font-size: 30px;
    height: auto;
    width: auto;
    background-color: rgb(200, 154, 236);
    padding: 20px;
    margin-top: 20px;
}
.correo{
    height: 60px;
    width: 60px;
    margin-left: 450px;
    margin-right: 20px;
}
.separador{
    width: 100%;
    height: 30px;
    background-color: rgb(4, 1, 28);
}
